services:
  test:
    image: registry:2
    container_name: {{ app_name }}
    networks:
      - traefik
    restart: unless-stopped
    volumes:
      - storage:/data
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik"
      - "traefik.http.routers.{{ app_name }}.rule=Host(`{{ app_name }}.{{ domain }}`)"
      - "traefik.http.routers.{{ app_name }}.tls=true"
      - "traefik.http.routers.{{ app_name }}.tls.certresolver=letsencrypt"
      - "traefik.http.routers.{{ app_name }}.entrypoints=websecure"
      - "traefik.http.services.{{ app_name }}.loadbalancer.server.port={{ app_port }}"

volumes:
  storage:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '{{ app_storage }}'

networks:
  traefik:
    external: true